includes:
#    - vendor/pepakriz/phpstan-exception-rules/extension.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon

parameters:
    ignoreErrors:
        - '#In method \"Narrowspark\\TestingHelper\\Phpunit\\MockeryTestCase::mock\"\, parameter \$args can be type-hinted to \"array\"#'
        - '#In method \"Narrowspark\\TestingHelper\\Phpunit\\MockeryTestCase::spy\"\, parameter \$args can be type-hinted to \"array\"#'
        - '#In method \"Narrowspark\\TestingHelper\\Constraint\\UsesTraits::toArray\"\, return type is \"array\".#'
        - '#In method \"Narrowspark\\TestingHelper\\Constraint\\ExtendsOrImplements::toArray\"\, return type is \"array\".#'
        - '#In method \"Narrowspark\\TestingHelper\\Constraint\\ArraySubset::toArray\"\, return type is \"array\".#'
